*{
    margin: 0px;
    padding: 0px;

}

body{
    background: rgb(244,244,246);
    padding-top: 44px;
    padding-bottom: 49px;
}
header{
    background: rgb(40,133,202);
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;

}
.DS_second_section img{
    width: 100%;
    margin-bottom: -6px;
}
footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    left: 0;
    bottom: 0;
    position: fixed;


}
footer a{
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

}
footer a span{
    display: block;
    color: white;
    font-size: 8px;

}
footer img{
    width: 30%;
}
.R_section img{
    width: 100%;

}
